### Accident table head

Index(['OBJECTID', 'UIDENTSTLAE', 'ULAND', 'UREGBEZ', 'UKREIS', 'UGEMEINDE',
       'UJAHR', 'UMONAT', 'USTUNDE', 'UWOCHENTAG', 'UKATEGORIE', 'UART',
       'UTYP1', 'ULICHTVERH', 'IstStrassenzustand', 'IstRad', 'IstPKW',
       'IstFuss', 'IstKrad', 'IstGkfz', 'IstSonstige', 'LINREFX', 'LINREFY',
       'XGCSWGS84', 'YGCSWGS84'],
      dtype='object')

  ### Nearly accident Table head
  
  Index(['lat', 'lon', 'ts', 'bike', 'childCheckBox', 'trailerCheckBox', 'pLoc',
       'incident', 'i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9',
       'scary', 'desc', 'i10', 'region'],
      dtype='object')

- What columns(features) do they have in common?
- Which features are the most important?
- How can we merge the table 
- How does a decision tree model work?

pipeline sklearn

### What is the machine learning aspect of this project?
- Given near accident and accident data -> merge the data at latitude / longitude if within given distance
- machine learning model learns to predict given the near accident data and the location if a real accident happens 
- machine learning model learns to classify between the severities (death, severe injury, slight injury) (given lat/long, wetness, type of bike, phone location etc. [more features in nearly accident data])
- machine learning model learns to classify 

- wo echte unfälle passiert zeigt es das deer straßegefährlich ist
- sind beinahunfälle ein predictor von unfälle? gefahrenscore berechnen 
-

- Die meisten Unfälle sind zwar in trockenen Zustand, aber sind vielleicht nur leichte Unfälle und in Nassen zustand können es sogar tötliche Unfälle sein. Also spielt für den Gefahrengrad wetter vielleicht doch eine große Rolle?

### presentation

- Have a good question
- You are familiar with your dataset

### Similar features or column head


|accident table |nearly accident|
|---------------|---------------|
|UJAHR| ts |
|UMONAT| ts |
|USTUNDE| ts |
|UWOCHENTAG|ts|
|ULAND| region|
|IstRad | i2 |
|IstFuss| i3 |
|IstPKW|i7|
|IstKrad|i6|
|IstGkfz| i4|
|IstSonstige | i9 |
|LINREFX| lon |
|LINREFY|lat|
|UART| incident |

### Not yet on the table

Actual accident 
- UREGBEZ
- OBJECTID
- UIDENTSTLAE
- ULICHTVERH
- UTYP1
- IstStrassenzustand
- XGCSWGS84
- YGCSWGS84



Near Accident
- childCheckBox
- scary
- desc
- trailerCheckBox
- bike

https://realpython.com/pandas-merge-join-and-concat/

- Merge 
    - left or right 
    - change the column names so they are uniform?
    
- Decision tree
    - https://scikit-learn.org/stable/modules/tree.html

x and y coordinates 
probability of an accident happening
Do a rating &rarr; if there are lots of accidents, probability is higer

make a map of berlin, the ML model is getting the two coordinates and depending on other variable etc season, location of the phone, lichtverhältnisse, the model will then say how likely there will be an accident.

### Homework

- The accident and nearly accident data x,y coordinates &rarr; how big is the radius e.g do you count the whole crossing or only the spot
- define lots of things about accidents i.e what should be taken into account when judging accidents.
- e.g accident at 50:50 (x,y) near accident at 51:50. does this count or not? Such has to be define/set
- if yes, give the near accidents identifiers and merge it.

In [1]:
import pandas as pd 
from os import path

In [2]:
df = pd.read_csv('data\Berlin-incidents.csv', on_bad_lines='skip')

In [3]:
df

,lat,lon,ts,bike,childCheckBox,trailerCheckBox,pLoc,incident,i1,i2,...,i4,i5,i6,i7,i8,i9,scary,desc,i10,region
0,52.532325,13.394867,1572971392862,1.0,0,0,5.0,1,0,0,...,0,0,0,1,0,0,0,NaN,0,Berlin
1,52.583117,13.428656,1574096883339,1.0,0,0,1.0,4,0,0,...,0,0,0,1,0,0,0,NaN,0,Berlin
2,52.532983,13.329724,1574094864375,1.0,0,0,1.0,3,0,0,...,0,0,0,1,0,0,0,NaN,0,Berlin
3,52.554064,13.383081,1574095749659,1.0,0,0,1.0,2,0,0,...,0,0,0,1,0,0,1,NaN,0,Berlin
4,52.439985,13.245853,1573196026398,7.0,0,0,2.0,1,0,0,...,0,0,0,1,0,0,0,mehrere,0,Berlin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17221,52.537928,13.373174,1662323393000,1.0,0,0,0.0,7,0,0,...,0,0,0,0,1,0,0,Hält auf Radstreifen,0,Berlin
17222,52.537111,13.374178,1662845622000,1.0,0,0,0.0,7,0,0,...,0,0,0,1,0,0,0,Radstreifen zugeparkt,0,Berlin
17223,52.528078,13.386095,1662845257000,1.0,0,0,0.0,1,0,0,...,0,0,0,1,0,0,0,NaN,0,Berlin
17224,52.505382,13.386546,1663697230000,1.0,0,0,1.0,1,0,0,...,1,0,0,1,1,0,1,many extremely close passes and dooring risk,0,Berlin
17225,52.513111,13.382478,1663696969000,1.0,0,0,1.0,1,0,0,...,1,0,0,1,1,0,1,many close passes and dooring risk,0,Berlin

In [4]:
file_path = path.join("data", "accidents_2022", "Unfallorte2022_LinRef.csv")
file_path

'data\\accidents_2022\\Unfallorte2022_LinRef.csv'

In [5]:
ad = pd.read_csv(file_path, sep=";")

<ipython-input-5-b1918e2c5f39>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  ad = pd.read_csv(file_path, sep=";")

In [6]:
df_beFa = ad[(ad["IstRad"] == 1) & (ad["ULAND"] == 11)].copy()

In [7]:
df_beFa

,OBJECTID,UIDENTSTLAE,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
120716,120717,11220726110000076021,11,0,7,7,2022,7,13,3,...,1,0,0,0,0,0,"797934,062047653947957","5820137,080757929943502","13,385059354000100","52,449999820000102"
120723,120724,11221207110000016600,11,0,3,3,2022,12,6,4,...,1,1,0,0,0,0,"801198,846139198052697","5830893,046786880120635","13,442681348000100","52,544618997000001"
120727,120728,11220526110000082361,11,0,12,12,2022,5,22,5,...,1,1,0,0,0,0,"795518,430305948015302","5833308,314601760357618","13,361311944000001","52,569380428999999"
120732,120733,11221107110000007141,11,0,12,12,2022,11,16,2,...,1,1,0,0,0,0,"795410,466116435010917","5833590,942207490094006","13,359975350000100","52,571972517000098"
120757,120758,11220519110000056101,11,0,4,4,2022,5,23,5,...,1,0,0,0,0,0,"786116,330889211036265","5826019,259884309954941","13,216692782000100","52,509052345999997"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240978,240979,11221206110000104510,11,0,11,11,2022,12,18,3,...,1,1,0,0,0,0,"802428,726582280010916","5828891,710788100026548","13,458941341000100","52,525999963000103"
240984,240985,11221228110000087000,11,0,2,2,2022,12,17,4,...,1,0,0,1,0,0,"797120,745900540030561","5823996,071269039995968","13,376563014000100","52,485034538000001"
241000,241001,11221213110000043390,11,0,1,1,2022,12,7,3,...,1,1,0,0,0,0,"799515,159539225976914","5826701,056993260048330","13,414151500999999","52,507972543999998"
241008,241009,11221216110000054850,11,0,1,1,2022,12,14,6,...,1,1,0,0,0,0,"798959,458413455053233","5827286,094626029953361","13,406513610999999","52,513521378000100"
241013,241014,11221211110000035090,11,0,4,4,2022,12,21,1,...,1,0,1,0,0,0,"794299,540177794056945","5825965,668365369550884","13,336876789000000","52,504218876000003"

In [8]:
df_beFa.columns

Index(['OBJECTID', 'UIDENTSTLAE', 'ULAND', 'UREGBEZ', 'UKREIS', 'UGEMEINDE',
       'UJAHR', 'UMONAT', 'USTUNDE', 'UWOCHENTAG', 'UKATEGORIE', 'UART',
       'UTYP1', 'ULICHTVERH', 'IstStrassenzustand', 'IstRad', 'IstPKW',
       'IstFuss', 'IstKrad', 'IstGkfz', 'IstSonstige', 'LINREFX', 'LINREFY',
       'XGCSWGS84', 'YGCSWGS84'],
      dtype='object')

In [9]:
#expressing latitude and longitude in distance. Trying to find out what lat and lon points mean etc how big is a lat/lon pt

import math

def haversine(lat1, lon1, lat2, lon2-):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert degrees to radians
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)
    
    # Haversine formula
    a = math.sin(delta_phi / 2.0)**2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2.0)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    # Distance in kilometers
    distance = R * c
    return distance



distance = haversine(lat1, lon1, lat2, lon2)
print(f"Distance: {distance} km")

NameError: name 'lat1' is not defined

In [10]:
lon1 = 13.385059354000100 
lat1 = 52.449999820000102

In [11]:
df_beFa["near_accidents"] = None

In [12]:
df_beFa

,OBJECTID,UIDENTSTLAE,ULAND,UREGBEZ,UKREIS,UGEMEINDE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84,near_accidents
120716,120717,11220726110000076021,11,0,7,7,2022,7,13,3,...,0,0,0,0,0,"797934,062047653947957","5820137,080757929943502","13,385059354000100","52,449999820000102",None
120723,120724,11221207110000016600,11,0,3,3,2022,12,6,4,...,1,0,0,0,0,"801198,846139198052697","5830893,046786880120635","13,442681348000100","52,544618997000001",None
120727,120728,11220526110000082361,11,0,12,12,2022,5,22,5,...,1,0,0,0,0,"795518,430305948015302","5833308,314601760357618","13,361311944000001","52,569380428999999",None
120732,120733,11221107110000007141,11,0,12,12,2022,11,16,2,...,1,0,0,0,0,"795410,466116435010917","5833590,942207490094006","13,359975350000100","52,571972517000098",None
120757,120758,11220519110000056101,11,0,4,4,2022,5,23,5,...,0,0,0,0,0,"786116,330889211036265","5826019,259884309954941","13,216692782000100","52,509052345999997",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240978,240979,11221206110000104510,11,0,11,11,2022,12,18,3,...,1,0,0,0,0,"802428,726582280010916","5828891,710788100026548","13,458941341000100","52,525999963000103",None
240984,240985,11221228110000087000,11,0,2,2,2022,12,17,4,...,0,0,1,0,0,"797120,745900540030561","5823996,071269039995968","13,376563014000100","52,485034538000001",None
241000,241001,11221213110000043390,11,0,1,1,2022,12,7,3,...,1,0,0,0,0,"799515,159539225976914","5826701,056993260048330","13,414151500999999","52,507972543999998",None
241008,241009,11221216110000054850,11,0,1,1,2022,12,14,6,...,1,0,0,0,0,"798959,458413455053233","5827286,094626029953361","13,406513610999999","52,513521378000100",None
241013,241014,11221211110000035090,11,0,4,4,2022,12,21,1,...,0,1,0,0,0,"794299,540177794056945","5825965,668365369550884","13,336876789000000","52,504218876000003",None

In [ ]:
xy_accidents= df_beFa[['XGCSWGS84', 'YGCSWGS84']].copy()

In [14]:
xy_accidents['XGCSWGS84']

120716    13,385059354000100
120723    13,442681348000100
120727    13,361311944000001
120732    13,359975350000100
120757    13,216692782000100
                 ...
240978    13,458941341000100
240984    13,376563014000100
241000    13,414151500999999
241008    13,406513610999999
241013    13,336876789000000
Name: XGCSWGS84, Length: 4658, dtype: object

In [15]:
xy_accidents.XGCSWGS84=xy_accidents['XGCSWGS84'].str.replace(",",".").astype(float)

In [16]:
xy_accidents['XGCSWGS84']

120716    13.385059
120723    13.442681
120727    13.361312
120732    13.359975
120757    13.216693
            ...
240978    13.458941
240984    13.376563
241000    13.414152
241008    13.406514
241013    13.336877
Name: XGCSWGS84, Length: 4658, dtype: float64

In [17]:
xy_accidents['YGCSWGS84']=xy_accidents['YGCSWGS84'].str.replace(",",".").astype(float)

In [18]:
xy_accidents['YGCSWGS84']

120716    52.450000
120723    52.544619
120727    52.569380
120732    52.571973
120757    52.509052
            ...
240978    52.526000
240984    52.485035
241000    52.507973
241008    52.513521
241013    52.504219
Name: YGCSWGS84, Length: 4658, dtype: float64

In [19]:
xy_accidents

        XGCSWGS84  YGCSWGS84
120716  13.385059  52.450000
120723  13.442681  52.544619
120727  13.361312  52.569380
120732  13.359975  52.571973
120757  13.216693  52.509052
...           ...        ...
240978  13.458941  52.526000
240984  13.376563  52.485035
241000  13.414152  52.507973
241008  13.406514  52.513521
241013  13.336877  52.504219

[4658 rows x 2 columns]

In [20]:
#rename the column

xy_accidents=xy_accidents.rename(columns={'XGCSWGS84': 'lon','YGCSWGS84': 'lat'})

In [21]:
xy_accidents["near_accidents"] = pd.NA
xy_accidents

              lon        lat near_accidents
120716  13.385059  52.450000           <NA>
120723  13.442681  52.544619           <NA>
120727  13.361312  52.569380           <NA>
120732  13.359975  52.571973           <NA>
120757  13.216693  52.509052           <NA>
...           ...        ...            ...
240978  13.458941  52.526000           <NA>
240984  13.376563  52.485035           <NA>
241000  13.414152  52.507973           <NA>
241008  13.406514  52.513521           <NA>
241013  13.336877  52.504219           <NA>

[4658 rows x 3 columns]

In [22]:
df_lat_lon = df[["lat", "lon"]].copy()

In [24]:
#interrupting the kernel by pressin 'i' twice
df_lat_lon["distance"] = 0 
for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = ""
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        if distance < 0.03:
            id_list += str(index) + "," 
    if id_list:
        try:
            xy_accidents.loc[idx, "near_accidents"] = id_list
        except:
            print(id_list)

KeyboardInterrupt:

3 datensat -> straßennetz. zu jede strassen segment liegt ein Unfall

In [ ]:
df_lat_lon["distance"] = 0 
# schreib ein funktion -> myfunk(row)
# lat,lon = row['lat'],row['lon']
# does something and returns somethings
#df[" new column"]=df.apply(myfunc, axis=1) 

#geopandas
for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = ""
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        if distance < 0.03:
            id_list += str(index) + "," 
    if id_list:
        try:
            xy_accidents.loc[idx, "near_accidents"] = id_list
        except:
            print(id_list)

In [ ]:
#interrupting the kernel by pressin 'i' twice
"""
df_lat_lon["distance"] = 0 
for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = []
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        if distance < 0.03:
            id_list.append(str(index))
    if id_list:
        try:
            xy_accidents.loc[idx, "near_accidents"] = id_list
        except:
            print(id_list)
"""

In [87]:
xy_accidents[~xy_accidents["near_accidents"].isna()]

              lon        lat near_accidents
120762  13.553460  52.509344         [4660]
120834  13.355049  52.485618         [5295]
120872  13.314654  52.512210         [5554]
120914  13.367822  52.505435        [10620]
120946  13.388255  52.493561         [9486]
121035  13.424303  52.528830        [13070]

In [33]:
df_lat_lon[df_lat_lon["distance"] < 0.04]

             lat        lon  distance
13769  52.449726  13.384963   0.03114