### Accident table head

Index(['OBJECTID', 'UIDENTSTLAE', 'ULAND', 'UREGBEZ', 'UKREIS', 'UGEMEINDE',
       'UJAHR', 'UMONAT', 'USTUNDE', 'UWOCHENTAG', 'UKATEGORIE', 'UART',
       'UTYP1', 'ULICHTVERH', 'IstStrassenzustand', 'IstRad', 'IstPKW',
       'IstFuss', 'IstKrad', 'IstGkfz', 'IstSonstige', 'LINREFX', 'LINREFY',
       'XGCSWGS84', 'YGCSWGS84'],
      dtype='object')

  ### Nearly accident Table head
  
  Index(['lat', 'lon', 'ts', 'bike', 'childCheckBox', 'trailerCheckBox', 'pLoc',
       'incident', 'i1', 'i2', 'i3', 'i4', 'i5', 'i6', 'i7', 'i8', 'i9',
       'scary', 'desc', 'i10', 'region'],
      dtype='object')

- What columns(features) do they have in common?
- Which features are the most important?
- How can we merge the table 
- How does a decision tree model work?

pipeline sklearn

### What is the machine learning aspect of this project?
- Given near accident and accident data -> merge the data at latitude / longitude if within given distance
- machine learning model learns to predict given the near accident data and the location if a real accident happens 
- machine learning model learns to classify between the severities (death, severe injury, slight injury) (given lat/long, wetness, type of bike, phone location etc. [more features in nearly accident data])
- machine learning model learns to classify 

- wo echte unfälle passiert zeigt es das deer straßegefährlich ist
- sind beinahunfälle ein predictor von unfälle? gefahrenscore berechnen 
-

- Die meisten Unfälle sind zwar in trockenen Zustand, aber sind vielleicht nur leichte Unfälle und in Nassen zustand können es sogar tötliche Unfälle sein. Also spielt für den Gefahrengrad wetter vielleicht doch eine große Rolle?

### presentation

- Have a good question
- You are familiar with your dataset

### Similar features or column head


|accident table |nearly accident|
|---------------|---------------|
|UJAHR| ts |
|UMONAT| ts |
|USTUNDE| ts |
|UWOCHENTAG|ts|
|ULAND| region|
|IstRad | i2 |
|IstFuss| i3 |
|IstPKW|i7|
|IstKrad|i6|
|IstGkfz| i4|
|IstSonstige | i9 |
|LINREFX| lon |
|LINREFY|lat|
|UART| incident |

### Not yet on the table

Actual accident 
- UREGBEZ
- OBJECTID
- UIDENTSTLAE
- ULICHTVERH
- UTYP1
- IstStrassenzustand
- XGCSWGS84
- YGCSWGS84



Near Accident
- childCheckBox
- scary
- desc
- trailerCheckBox
- bike

https://realpython.com/pandas-merge-join-and-concat/

- Merge 
    - left or right 
    - change the column names so they are uniform?
    
- Decision tree
    - https://scikit-learn.org/stable/modules/tree.html

x and y coordinates 
probability of an accident happening
Do a rating &rarr; if there are lots of accidents, probability is higer

make a map of berlin, the ML model is getting the two coordinates and depending on other variable etc season, location of the phone, lichtverhältnisse, the model will then say how likely there will be an accident.

### Homework

- The accident and nearly accident data x,y coordinates &rarr; how big is the radius e.g do you count the whole crossing or only the spot
- define lots of things about accidents i.e what should be taken into account when judging accidents.
- e.g accident at 50:50 (x,y) near accident at 51:50. does this count or not? Such has to be define/set
- if yes, give the near accidents identifiers and merge it.

In [42]:
import pandas as pd 
from os import path

In [43]:
df = pd.read_csv('data\Berlin-incidents.csv', on_bad_lines='skip')

In [44]:
#df

In [45]:
file_path = path.join("data", "accidents_2022", "Unfallorte2022_LinRef.csv")
file_path

'data\\accidents_2022\\Unfallorte2022_LinRef.csv'

In [46]:
ad = pd.read_csv(file_path, sep=";")

<ipython-input-46-b1918e2c5f39>:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  ad = pd.read_csv(file_path, sep=";")

In [47]:
df_beFa = ad[(ad["IstRad"] == 1) & (ad["ULAND"] == 11)].copy()

In [48]:
#df_beFa

In [49]:
#df_beFa.columns

In [51]:
#expressing latitude and longitude in distance. 
#Trying to find out what lat and lon points mean etc how big is a lat/lon pt

import math

def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert degrees to radians
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)
    
    # Haversine formula
    a = math.sin(delta_phi / 2.0)**2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2.0)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    
    # Distance in kilometers
    distance = R * c
    return distance

#distance = haversine(lat1, lon1, lat2, lon2)
#print(f"Distance: {distance} km")

In [52]:
#lon1 = 13.385059354000100 
#lat1 = 52.449999820000102

In [53]:
#distance = haversine(lat1, lon1, lat2, lon2)
#print(f"Distance: {distance} km")

In [54]:
df_beFa["near_accidents"] = None

In [56]:
#df_beFa

In [57]:
xy_accidents= df_beFa[['XGCSWGS84', 'YGCSWGS84']].copy()

In [58]:
#xy_accidents['XGCSWGS84']

In [59]:
xy_accidents.XGCSWGS84=xy_accidents['XGCSWGS84'].str.replace(",",".").astype(float)

In [60]:
#xy_accidents['XGCSWGS84']

In [61]:
xy_accidents['YGCSWGS84']=xy_accidents['YGCSWGS84'].str.replace(",",".").astype(float)

In [62]:
#xy_accidents['YGCSWGS84']

In [63]:
#xy_accidents

In [64]:
#rename the column

xy_accidents=xy_accidents.rename(columns={'XGCSWGS84': 'lon','YGCSWGS84': 'lat'})

In [66]:
xy_accidents["near_accidents"] = pd.NA
#xy_accidents

In [67]:
df_lat_lon = df[["lat", "lon"]].copy()

In [69]:
#interrupting the kernel by pressin 'i' twice
df_lat_lon["distance"] = 0 
for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = ""
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        if distance < 0.03:
            id_list += str(index) + "," 
    if id_list:
        try:
            xy_accidents.loc[idx, "near_accidents"] = id_list
        except:
            print(id_list)

KeyboardInterrupt:

3 datensat -> straßennetz. zu jede strassen segment liegt ein Unfall

In [ ]:
# schreib ein funktion -> myfunk(row)
# lat,lon = row['lat'],row['lon']
# does something and returns somethings
#df[" new column"]=df.apply(myfunc, axis=1) 

#geopandas

In [ ]:
df_lat_lon["distance"] = 0 

for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = ""
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        if distance < 0.03:
            id_list += str(index) + "," 
    if id_list:
        try:
            xy_accidents.loc[idx, "near_accidents"] = id_list
        except:
            print(id_list)

In [70]:

# Initialize "near_accidents" column in xy_accidents
xy_accidents["near_accidents"] = ""

# Iterate over each row in xy_accidents
for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = []
    
    # Iterate over each row in df_lat_lon
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        
        # Check if the distance is less than 0.03 km
        if distance < 0.03:
            id_list.append(str(index))
    
    # Join the indices with commas and update the "near_accidents" column
    if id_list:
        xy_accidents.at[idx, "near_accidents"] = ",".join(id_list)

In [ ]:
#interrupting the kernel by pressin 'i' twice
"""
df_lat_lon["distance"] = 0 
for idx, row_acc in xy_accidents.iterrows():
    lon1 = row_acc["lon"]
    lat1 = row_acc["lat"]
    id_list = []
    for index, row in df_lat_lon.iterrows():
        distance = haversine(lat1, lon1, row["lat"], row["lon"])
        if distance < 0.03:
            id_list.append(str(index))
    if id_list:
        try:
            xy_accidents.loc[idx, "near_accidents"] = id_list
        except:
            print(id_list)
"""

In [71]:
xy_accidents[~xy_accidents["near_accidents"].isna()]

,lon,lat,near_accidents
120716,13.385059,52.450000,
120723,13.442681,52.544619,
120727,13.361312,52.569380,
120732,13.359975,52.571973,
120757,13.216693,52.509052,
...,...,...,...
240978,13.458941,52.526000,"10201,13781"
240984,13.376563,52.485035,"1142,1469,2846,8764,13484,13701,16710"
241000,13.414152,52.507973,"1291,2209,2590,3398,9267,11225,11412,11639,135..."
241008,13.406514,52.513521,"8322,8702,15039"
241013,13.336877,52.504219,

In [72]:
df_near_accidents=xy_accidents[~xy_accidents["near_accidents"].isna()]

In [73]:
df_near_accidents

,lon,lat,near_accidents
120716,13.385059,52.450000,
120723,13.442681,52.544619,
120727,13.361312,52.569380,
120732,13.359975,52.571973,
120757,13.216693,52.509052,
...,...,...,...
240978,13.458941,52.526000,"10201,13781"
240984,13.376563,52.485035,"1142,1469,2846,8764,13484,13701,16710"
241000,13.414152,52.507973,"1291,2209,2590,3398,9267,11225,11412,11639,135..."
241008,13.406514,52.513521,"8322,8702,15039"
241013,13.336877,52.504219,

In [ ]:
df_near_accidents.to

In [33]:
df_lat_lon[df_lat_lon["distance"] < 0.04]

             lat        lon  distance
13769  52.449726  13.384963   0.03114